<strong>Olá, {{ deliveryman }}</strong>
<p>
  Um novo produto foi cadastrado: <strong>{{ product }}</strong>
</p>
<p>
  <small>
    O produto está disponível para ser retirado.
    E deverá ser entregue no seguinte destinatário:
  </small>
  <br />
  <br />
  <strong>Destinatario: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ street }}, {{ number }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>CEP: </strong> {{ zip_code }} <br />
</p>
